################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MonetaryTuring/obj
/src/MonetaryTuring/bin/Debug/netcoreapp3.1
/src/.vs/monetary-turing/v16
/.vs
